<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search Results</title>
</head>

<body>
  <h2>Search Results</h2>
  <% bookArr.forEach(book => { %>
  <!-- <img src="<%= %>" alt=""> -->
  <p><%= this.title %></p>
  <p><%= this.author %></p>
  <p><%= this.summary %></p>
  <% }) %>
</body>

</html>