<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="./styles/base.css" type="text/css" rel="stylesheet" />
  <title>Book App</title>
</head>

<body>
  <form action="/searches" method="post">
    <input type="text" name="search" placeholder="Enter title/author">
    <fieldset>
      <label for="title">
        <span>Title</span>
        <input type="radio" name="search" value="title" required>
      </label>
    </fieldset>
    <fieldset>
      <label for="author">
        <span>Author</span>
        <input type="radio" name="search" value="author" required>
      </label>
    </fieldset>
    <button type="submit">Search Google Books</button>
  </form>
</body>

</html>