/* mobile */

html {
  width: 480px;
}

h1, h2 {
  text-align: center;
}

article {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-left: 40px solid rgb(168, 167, 167);
  border-right: 40px solid rgb(168, 167, 167);
  border-radius: 5px;
  align-items: center;
  margin: 40px 10px 40px 10px;
  animation-name: book;
  animation-duration: 0.8s;
}

@keyframes book {
  from {background-color: black;}
  to {background-color: lightgrey;}
}

img {
  margin-left: auto;
  margin-right: auto;
  border: 10px solid rgb(233, 233, 233);
  border-radius: 5px;
}

h2, h3, h4 {
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
}

p {
  border-radius: 5px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  max-height: 325px;
  overflow: auto;
}

.book-summary {
  border: 5px solid rgb(168, 167, 167);
}

/* tablet */ 
@media (min-width: 768px) {
  html {
    width: 768px;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* desktop */
@media (min-width: 930px) {
  html {
    width: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
}
